<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http use-expressions="true" auto-config="true">
		<intercept-url pattern="/login" access="permitAll()" />
		<intercept-url pattern="/add*" access="isAuthenticated()" />
		<form-login login-page="/login" authentication-failure-url="/loginfailed"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />
		
		<access-denied-handler ref="accessDeniedHandler" />
		<!-- <intercept-url pattern="/add-maerz-form-majster" access="ROLE_MAJSTER" 
			/> <form-login login-page="/login" default-target-url="/add-maerz-form-majster" 
			authentication-failure-url="/loginfailed" /> -->
		<logout logout-success-url="/logout" />
	</http>

	<beans:bean id="myAuthenticationSuccessHandler"
		class="com.pis.security.MyAuthenticationSuccessHandler" />

	<beans:bean id="accessDeniedHandler" class="com.pis.security.MyAccessDeniedHandler" />

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"

				users-by-username-query="
                                    select login, heslo, aktivny
                                    from ZAMESTNANEC where login = ?"

				authorities-by-username-query="
                                    select zam.login, r.nazov 
                                    from ZAMESTNANEC zam, ROLA r   
                                    where zam.rola = r.id and zam.login =?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>